p {
    padding: 10px;
}

p, i {
    color: #FFFFFF;
}

i {
    float: right;
}

.registry-gov {
  background: #DE770F;
}

.fishing-gov  {
  background: #008CBA;
}

.payment-gov  {
  background: #43AC6A;
}
