<!DOCTYPE html>
<html>
  <head>
    <title>Locations placeholder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
      <div class="page-header">
        <h1>Location Log</h1>
      </div>
      <div id="location-text">
      </div>

    <script type="text/javascript" src="static/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>


</body>
</html>
